{% extends "base.html.twig" %}
{% block body %}
<div class="d-flex justify-content-center">
    <ul>
        <a href="/"><img class="brand"src="logo/airbnb.png" alt="logo airbnb"></a>
        <h1 class="">Espace User</h1>
        <div class="d-flex flex-column ">
        <button class="btn btn-outline-primary fw-bold text mt-2"><a href="/user/edit/{{ app.user.id }}">Mes information personnelles</br></a></button>
        <button class="btn btn-outline-primary fw-bold text mt-2"><a href="">Mes réservations</br></a></button>
        <button class="btn btn-outline-primary fw-bold text mt-2"><a href="/mesBiens">mes biens </br></a></button>
        <button  class="btn btn-back text mt-5"><a href="/">Retour à l'acceuil </br></a></button>
        </div>
</div>
{% endblock %}