{% extends "base.html.twig" %}
{% block body %}
{# {% if annonce.id < 0 %} #}
        <h1>Vous n'avez pas de biens renseignés</h1>
        <button><a href="/annonce/new"> + </button></a>
{# {% endif %} #}

{% endblock %}