{% extends 'base.html.twig' %}

{% block title %}Edit Annonce{% endblock %}

{% block body %}
    <h1>Mise à jour</h1>

    {{ include('annonce/_form.html.twig', {'button_label': 'Update' })}}
    {{ include('annonce/_delete_form.html.twig') }}

    <a href="/mesBiens/{{ app.user.id }}" class="btn btn-back text mt-2">Retour</a>

{% endblock %}
