{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
    <h1>Create new Annonce</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="/mesBiens/{{ app.user.id }}">Retour</a>
{% endblock %}
